body {
  background-color: #282828;
}

h1 {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  color: rgb(00, 00, 00);
  font-family: cursive;
  text-align: center;
}

img {
  max-width: 100%;  
}

.img_background {
	
}

.seccion-final {
	display: flex;
	justify-content: space-around;
}

.seccion-final__parrafo {
	display:inline;
     padding-left:3px;
     padding-right:3px;
}